@font-face {
  font-family: 'KHMenu';
  src: url('../fonts/KHMenu-Regular.eot');
  src: url('../fonts/KHMenu-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/KHMenu-Regular.woff2') format('woff2'),
  url('../fonts/KHMenu-Regular.woff') format('woff'),
  url('../fonts/KHMenu-Regular.ttf') format('truetype'),
  url('../fonts/KHMenu-Regular.svg#KHMenu-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
